@tailwind base;
@tailwind components;
@tailwind utilities;

body {
        height: 100vh;
        margin: 0;
        color: white;        
        font-family: Inria Serif, serif;
        background-color: black;
      }
.lgbg{
        background: linear-gradient(to bottom, #000000 0%, #2C275B 50%, #000000 100%)
}